<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Extibax is the Best</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate neque dolor quidem incidunt voluptatibus est
        placeat, recusandae ad laboriosam perspiciatis at nemo similique enim expedita libero! Mollitia corrupti
        cupiditate magni.Id eius perferendis aspernatur rerum, distinctio nostrum consequuntur laudantium, accusamus
        atque culpa ut provident deserunt. Praesentium exercitationem maiores quo obcaecati provident ea, corporis,
        quaerat repudiandae, porro magnam consectetur eius. Ipsam.
    </p>
</body>

</html>